.Landing{
    text-align: center;
    padding: 0 5vw;
}

.landing_logo {
    width: 70vw;
    margin: 15vh auto;
}

.auth {
    width: 60vw;
    height: 30px;
    background-color: #4688F1;
    color: white;
    font-weight: 600;
    margin: 10px auto;
}

.main-today {
    display: flex;
    justify-content: space-between;
    font-size: 1.3em;
    height: 40px;
    padding: 5vw 0;
    text-align: center;
}

