.Landing{
    text-align: center;
}

.landing_logo {
    width: 70vw;
    margin: 15vh auto;
}

.auth {
    width: 60vw;
    height: 30px;
    background-color: #4688F1;
    color: white;
    font-weight: 600;
    margin: 10px auto;
}

