.dailyplan-table {
    align-items: center;
    text-align: center;
    border: #222222 1px solid;
    width: 100%;
}

.timeslot-wrapper {
    border: #222222 2px solid;
    width: 100%;
}

.timeslot-row {
    align-items: center;
    border-bottom: dodgerblue 1px double;
    display: flex;
    height: 30px;
    padding: 0;
    margin: 0;
}

.timeslot {
    flex: 1;
}
.event-slot, .review-slot {
    flex: 3;
}
.review-slot {
    border-left: dashed 1px gray;
}

.plan-wrapper {
    border-style: none none none double;
    border-left-color: red;
    display: flex;
    flex: 4;
    height: 100%;
    padding: 0;
    margin: 0;
}
