
.review_page {
    text-align: left;
}

.review-input-wrapper {
    display: flex;
    height: 35px;
    justify-content: space-between;
    margin: 5px;
}

.review_input {
    border: 2px solid black;
    height: 35px;
    width: 80%;
}

.percentages{
    background: none;
    border: none;
    font-size: 20px;
    width: 20%
}

.review_button {
    background-color: white;
    border: black solid 2px;
    font-size: 20px;
    height: 35px;
    width: 20%;
}

.add-else-warpper {
    border: 2px solid black;
    /* padding: 10px 5px; */
    margin: 20px 0;
}

#review_related_select {
    border: 2px solid black;
    flex: 3;
    margin-top: 5px;
}

/* The switch - the box around the slider */
            .switch {
                position: relative;
                display: inline-block;
                width: 60px;
                height: 34px;
            }
            
            /* Hide default HTML checkbox */
            .switch>input {
                opacity: 0;
                width: 0;
                height: 0;
            }

            .switch>input:focus {
                outline: black;
            }
            
            /* The slider */
            .switch-slider {
                border: black 1px solid;
                border-radius: 34px;
                position: absolute;
                cursor: pointer;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: #b22222;
                -webkit-transition: .2s;
                transition: .2s;
            }
            
            .switch-slider:before {
                background-color: white;
                bottom: 4px;
                content: "";
                position: absolute;
                height: 26px;
                width: 26px;
                left: 4px;
                -webkit-transition: .2s;
                transition: .2s;
                border-radius: 50%;
            }
            
            .switch>input:checked + .switch-slider {
                background-color: dodgerblue;
            }
            
            .switch>input:focus + .switch-slider {
                box-shadow: 0 0 1px dodgerblue;
            }
            
            .switch>input:checked + .switch-slider:before {
                -webkit-transform: translateX(26px);
                -ms-transform: translateX(26px);
                transform: translateX(26px);
            }

#else-wrapper {
    border: none;
}

.else-list {
    /* background-color: dodgerblue; */
    border-bottom: solid 2px black;
    display: flex;
    font-size: 20px;
    justify-content: space-between;
    margin: 0;
}


.display-percentage {
    background-color: red;
    position: relative;
    width: 60%;;
}