.App {
  text-align: center;
}

.navbar {
  background: white;
  bottom: 0;
  border-top: solid black 2px;
  display: flex;
  height: 60px;
  justify-content: space-between;
  padding: 10px 17px;
  position: fixed;
  width: 100vw;
}

.navbar_logo {
  height: 30px;
}