* {
  color: #222222;
}

.App {
  text-align: center;
}

#content {
  margin-bottom: 70px;
}

.navbar {
  background: white;
  bottom: 0;
  border-top: solid #222222 2px;
  box-sizing: border-box;
  display: flex;
  height: 60px;
  justify-content: space-between;
  left: 0;
  padding: 10px 17px;
  position: fixed;
  width: 100%;
}

.navbar_logo {
  height: 30px;
}