.dailyplan-table {
    align-items: center;
    text-align: center;
    border: black 1px solid;
    width: 100%;
}

table {
    border: black 2px solid;
    width: 100%;
}

tr, th {
    align-items: center;
    display: flex;
    /* height: 30px; */
    padding: 0;
    margin: 0;
}

.timeslot {
    flex: 1;
}
.event-slot {
    border-left: solid 1px black;
    flex: 2;
}

.review-slot {
    border-left: solid 1px black;
    flex: 2;
}
