#edit-form {
    border: #222222 2px solid;
}

.input-wrapper {
    border-bottom: lightgray 1px solid;
    display: flex;
    font-size: 20px;
    justify-content: space-between;
    margin: 0 15px;
    padding: 10px 0;
}

.input-wrapper input {
    border: none;
    font-size: 20px;
    height: 35px;
}

.edit-plan-time {
  border: none;
  width: 50px;
}

#new-event-input {
  width: 100%;
}

.switch {
  display: inline-block;
  height: 34px;
  outline: red;
  position: relative;
  width: 55px;
  }
  
.edit-plan-time {
  font-size: 20px;
}


  /* 
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 27px;
    width: 27px;
    left: 3px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: lime;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px lime;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(22px);
    -ms-transform: translateX(22px);
    transform: translateX(22px);
  }

  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  } */