.check-list {
    margin-top: 5vh;
}

.check-list-title {
    margin: 5px;
}    

.check-list-box {
    border: black 3px solid;
    box-sizing: border-box;
    width: 90vw;
    margin: auto;
    padding: 10px;
}

.check-list_ul {
    text-align: left;
    /* list-style: none; */
}